* {
    box-sizing: border-box;
}

body {
    background-color: #000;
    color: #fff;

    font-family:
        'JetBrains Mono',
        'Space Grotesk',
        'Courier New',
        Courier,
        monospace;

    margin: 0;
}


/* BARRA DE NAVEGACIÓN */

.site-header {
    background-color: #070708;
    padding: 15px 30px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 1200px;
    margin: 0 auto;
}


/* Logo */

.brand-link {
    display: flex;
    align-items: center;
    gap: 10px;

    color: #fff;
    text-decoration: none;
}

#brand-logo {
    display: block;

    width: 50px;
    height: 50px;

    object-fit: contain;
}

.brand-name {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}


/* Botón del menú */

.menu-button {
    display: block;

    background-color: transparent;
    color: #fff;

    border: none;
    padding: 8px;

    cursor: pointer;
}


/*  Boton flotante  */
 
.xe-fixed {
    position: fixed;

    right: 20px;
    bottom: 90px;

    z-index: 1000;

    width: 100px;
    height: auto;
}




/* Botón XE */

.xe-button {
    display: inline-block;

    background-color: #39ff14;
    color: #070708;

    padding: 10px 20px;

    border: none;

    text-decoration: none;
    text-transform: uppercase;

    font-weight: bold;
}

.xe-button:hover {
    background-color: #fff;
    color: #070708;
}


/* HERO */

.hero {
    background-color: #000;

    max-width: 1200px;
    margin: 0 auto;

    padding: 40px 30px;
}


/* Información del sistema */

.hero-info {
    display: flex;
    gap: 20px;

    margin-bottom: 40px;
}

.protocol-label {
    color: #39ff14;
    
    padding: 10px 10px;
    border: none;
    border-bottom: 3px solid purple;
    border-right: 3px solid purple;
    width: 30%;
}

.system-version {
    color: gray;
    text-align: right;
    width: 80%;
}


/* CONTENIDO DEL HERO */

.hero-content {
    text-align: center;
    top: 20px;
    position: relative;
}

.hero-description {
    color: #fff;

    font-family:
        'JetBrains Mono',
        'Courier New',
        Courier,
        monospace;

    font-size: 24px;

    margin: 0 0 20px 0;
}

.hero-title {
    color: #fff;

    font-family:
        'Anton',
        'Courier New',
        Courier,
        monospace;

    font-size: 100px;
    font-weight: bold;

    line-height: 0.9;

    text-align: center;

    margin: 0;

    text-shadow: 0 0 50px #409432;
}

.hero-slogan {
    display: block;

    font-size: 30px;

    color: #39ff14;

    text-transform: uppercase;

    margin-top: 25px;
}


/*  ESTADÍSTICAS */

.product-stats {
    color: #fff;

    margin-top: 50px;
}


/* Imagen */

.product-image {
    width: 100%;

    margin-bottom: 40px;
}

#cheetah-chug-lata {
    display: block;

    width: 350px;
    max-width: 100%;
    height: auto;

    margin: 0 auto;

    filter:
        drop-shadow(0 20px 50px #1e5015)
        drop-shadow(0 0 20px #39ff14);
}


/* Estadísticas */

.stat-octane-level {
    margin: 20px 0;
    background-color: #000;
    width: 15%;
    padding: 15px;
    border-bottom: 4px solid #39ff14;
    border-right: 4px solid #39ff14;

    position: relative;
    left: 250px;
    bottom: 450px;;

}

.stat-bpm-boost {
    margin: 20px 0;
    width: 15%;
    padding: 15px;
    border-bottom: 4px solid purple;
    border-right: 4px solid purple;
    background-color: #000;

    position: relative;
    left: 730px;
    bottom: 250px;;
}


.stat-label {
    display: block;

    color: gray;

    margin-bottom: 5px;
}

.stat-value {
    color: #39ff14;

    font-size: 30px;
}

.bpm-value {
    color: #fff;

    font-size: 30px;
}


/*  ADVERTENCIA  */

.warning-message {
    color: #fff;
    background-color: #000;

    width: 60%;

    padding: 0;
    margin: 30px auto 0;

    text-align: center;

    position: relative;
    bottom: 100px;
}

.warning-message {
    color: #fff;
    background-color: #000;

    width: 60%;

    padding: 0;
    margin: 30px auto 0;

    text-align: center;
}

.warning-text {
    display: block;

    color: #fff;

    font-family:
        'JetBrains Mono',
        'Courier New',
        Courier,
        monospace;

    font-size: 16px;

    text-transform: uppercase;

    border-bottom: 4px solid purple;
    border-right: 4px solid purple;

    width: 100%;
    margin: 0;
    padding: 10px;

    text-align: center;
}

.warning-text svg {
    vertical-align: middle;

    margin-right: 8px;
}


/* BOTONES PRINCIPALES */

.hero-actions {
    position: relative;
    bottom: 100px;
}


/* Botón conseguir */

.get-xe-button {
    display: block;

    width: 100%;
    max-width: 1000px;

    background-color: #39ff14;
    color: #000;

    margin: 20px auto;
    padding: 15px 20px;

    border: none;
    border-bottom: 4px solid purple;
    border-right: 4px solid purple;

    font-family:
        'JetBrains Mono',
        'Courier New',
        Courier,
        monospace;

    font-size: 20px;
    font-weight: bold;

    text-transform: uppercase;

    cursor: pointer;
}

.get-xe-button svg {
    vertical-align: middle;

    margin-right: 8px;
}

.get-xe-text {
    color: #000;
}


/* Botón descubrir */

.legend-button {
    display: block;

    width: 100%;
    max-width: 1000px;

    background-color: #000;
    color: #fff;

    margin: 20px auto;
    padding: 15px 20px;

    border: none;
    border-bottom: 4px solid #39ff14;
    border-right: 4px solid #39ff14;

    font-family:
        'JetBrains Mono',
        'Courier New',
        Courier,
        monospace;

    font-size: 20px;
    font-weight: bold;

    text-transform: uppercase;

    cursor: pointer;
}

.legend-link {
    color: #fff;
}


/*  EFECTOS HOVER */

.get-xe-button:hover {
    background-color: #fff;
}

.legend-button:hover {
    background-color: white;
}

.legend-button:hover .legend-link {
    color: #000;
}
```
